body {  
    background-color:black;
    background-size: cover;
    margin:0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.hide{
    overflow: scroll;
    overflow-x:hidden; 
}
.background{
    height: 100vh;
}
.header{
    position: sticky;
    width: 100%; 
    display:flex;
    height: 130px;
    align-items: center;
    
}
.logo{
    margin-left: 30px;
}
.user{
    margin-left: 1300px;
}
.upper_container{
    color:rgb(255, 255, 255);
    font-size: 32px;  
    width:100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: relative;
}
.up_text{
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}
.left_container{
    /* margin-bottom: 10%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mid_box{
    display: flex;
    align-items: center;
    justify-items: center;
    grid-column-start: 1;
    grid-column-end:3 ;
    height: 900px;
    font-family: 'Montserrat', sans-serif;
}
h1{
    margin-left:170px;
    color:aliceblue;
    filter: drop-shadow(0 0 0.2rem rgb(255, 255, 255));
    font-style: italic;
    width: 430px;
    text-align: center;
}
.subtitle{
    color:aliceblue;
    margin-left:170px;
    filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
    font-size:20px;
    
}
.main_text{
    text-align: center;
    margin-top: 50px;
}
.links{
    display: flex;
    margin-top:70px;
    margin-left: 170px;
}
.links > * {
    cursor: pointer;
}
.pictures_size{
    width: 128px;
    height: 128px;
}
.button_location{
    position: relative;
    left:90px;
    top:40px;
}
.button{
    cursor: pointer;
    width: 285px;
    height: 80px;
    background: linear-gradient(#1d4eaa,#a62ad0);
    /* filter: drop-shadow(0 0 0.5 white) transparent;
    transition: all .55s ease; */
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D9D9D9;
    font-family: 'Montserrat';
    font-style: italic;
    font-size: 32px;
    line-height: 49px;
    font-weight: 300;
}
.choice_shadow {
    position: relative;
    user-select: none;
}
.choice_shadow::before {
    position: absolute;
    filter: blur(7px);
    width: 128px;
    height: 128px;
    background-size: 128px 128px;
    content:"";
}
#telegram_shadow::before{
    background-image: url('us/telegramm.png');
}
#mobile_shadow::before{
    background-image: url('us/mobile.png');
}
#desktop_shadow::before{
    background-image: url('us/desctop.png');
}
#web_shadow::before{
    background-image: url('us/web.png');
}
#user_window{
    top:100px;
    right: 150px;
    position: absolute;
    background-color: #0A0A0A;
    opacity: 0.93;
    width: 200px;
    height: 230px;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.75rem white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hidden{
    display: none !important; 
}
.window_text{
    top: 3px;
    display: block;
    font-size: 25px;
    margin-top: 10px;
    border-bottom: 2px white transparent;
    transition: all .55s ease;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    box-sizing: border-box
}
.window_text:hover{
    border-bottom:2px white solid;
    filter: drop-shadow(0 0 0.5rem white);
}
.upper_case{
    font-family:"Montserrat",sans-serif ;
    color: white;
    font-size: 20px;
    position: relative;
    top:40px;
    left: 480px;
    width: 300px;
    display: flex;
    justify-content: center;
}
.checked{
    border-bottom:2px#D9D9D9 transparent;
    cursor: pointer;
}
.checked{
    border-bottom: 2px white solid;
}
.planed{
    position: relative;
    left: 480px;
    border-bottom:2px transparent solid;
    transition: 0.2s;
    cursor: pointer;
    /* opacity: 0; */
}
.planed:hover{
    /* opacity: 1;
    transition: 1s;  */
    border-bottom: 2px white solid;
    filter: drop-shadow(0 0 0.75rem white);
}
.left_img{
    position: relative;
    opacity: 0;
    z-index: 1;
    left: 500px;
    top: 2px;
}
.planed:hover~ .left_img{
    opacity: 1;
    transition: 0.2s;
}
.main_container{
    position: relative;
    top: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 340px 340px;
}
.margin_div{
    position: relative;
    left: 100px;
}
.container{
    border:white 1px solid;
    border-radius: 30px;
    min-height: 220px;
    height: 300px;
    width: 830px;
}
.loc_button{
    position: relative;
    top: 210px;
    left: 10px;
}
#film_container{
    
}
#series_container{

}
#anime_container{
    
}
#games_container{

}
.div_text{
    font-family:"Montserrat",sans-serif ;
    color: white;
    font-size: 20px;
    position: relative;
    min-width: 350px;
    bottom: 140px;
}
.info{
    color:white;
    font-family:"Montserrat",sans-serif ;
    font-size: 30px;
    height: 45px;
}
.for_project{
    position: absolute; 
    /* transform: scale(0); */
    background-color: #0A0A0A; 
    color:white;
    font-family:"Montserrat",sans-serif ;
    opacity: 0;
    border-radius: 20px;
    border:1px transparent solid;
    transition: 0.3s;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    top:800px;
    left: 30px;
    right: 1000px;
    /* max-width: 682; */
}
.sliding_text:hover~.for_project {
    /* transform: scale(1); */
    opacity: 1;
    transition: 0.5s;  
}
.sliding_text{
    display:block;
    border-bottom: 2px transparent solid;
    transition: 0.2s;
    height: 50px;
    cursor:default;
}
.sliding_text:hover{
    border-bottom:  2px white solid;
    height: 50px;
}
.img{
    width: 1500px;
    height: 850px;
    margin-right: 10%;
}
.right_container{
    margin-bottom: 7%; 
    width: 1500px;
    height: 850px;
}
.sliding_text2{
    display: block;
    border-bottom: 2px transparent solid;
    transition: all .55s ease;
    height: 50px;
    cursor: default;
}
.sliding_text2:hover+.my_products{
    display: block;
}
.sliding_text2:hover{
    border-bottom:  2px white solid;
    height: 50px;
} 
.my_products{
    position: absolute;
    display: none;
    background-color: #0A0A0A;
    color:white;
    font-family:"Montserrat",sans-serif ;
    opacity: 0.9;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 800px;
    top: 820px;
    right: 100px;
}
.project{  
    display: flex;
    margin-top: 150px;
    margin-left: 150px;
}
.products{
    display: flex;
    position: relative;
    justify-content: center;
    bottom: 55px; 
    margin-left: 600px;
    width: 250px;
}



